<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/link.ejs') %>
    <title>SIGNIN</title>
  </head>
  <body>

<%- include('./partials/nav') %>


    <div class="container mt-52">
      <form action="/user/signIn" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
